<div class="machines section">
  <h4>
    {{#link-to 'protected.machines' }}
      Machines
    {{/link-to}}
    <span class="icon_link clickable" {{ action "refreshModel" }}>
      {{icon-component class='va-top' size=19 materialIcon="autorenew" spin=loadState}}
    </span>
  </h4>

  <div class='content-wrapper machines-wrapper m-t-2'>

  {{#unless loadState}}
    {{#if model.length}}
        {{#each model as |machine|}}
          <div class='item m-b-1'>
            {{machine-item machine=machine}}
          </div>
        {{/each}}
    {{else}}
      <div class="alert alert-info" role="alert">
        <strong>You are one click way from having your favorite apps accessible from your web browser</strong>
        <br />
        Click "Download Windows" to download the Windows Virtual machine that will host your applications
      </div>

      {{#if isConfigurable}}
        {{#link-to 'protected.machines.new' class="btn btn-primary btn-block"}}
         Create Machine
        {{/link-to}}
      {{else}}
        <button {{action "downloadWindows"}} class='btn btn-primary btn-block'>
          Create Machine
        </button>
      {{/if}}
    {{/if}}
  {{/unless}} 
  </div>
</div>
