<div class='vdi-window noselect section {{ windowClass }} {{ if stateVisible "state-show" "state-hide" }}'>
  <h4>
  {{#if materialIcon}}
    <i class="material-icons">{{ materialIcon }}</i>
  {{/if}}
    {{ title }}
  </h4>
  {{ yield }}
</div>

