<div class='topbar-item {{ if clickable "clickable" }} {{ if hover-enabled "hover-enabled" }} {{ if hover-darker "hover-darker" }} {{ if adjustIcon "adjustIcon" }}'>
  {{#if materialIcon }}
    <i class="material-icons" {{ action "clickAction"}}>{{ materialIcon }}</i>
  {{/if}}

  {{#if textContent}}
    <span class="link clickable" {{ action "clickAction"}}>{{ textContent }}</span>
  {{/if}}
</div>
