{{#if isVisible }}
  {{#modal-dialog containerClassNames="ember-modal-fullscreen"
    attachment="" targetAttachment=""}}

    {{#vdi-drag-n-drop dragAndDropActive=dragAndDropActive as |uploadData|}}  
      <div class="ember-modal-fullscreen {{if togglable 'togglable-state'}}">
        <div class="remote-session-topbar">
          <div class="left">
            {{#if uploadData.progress}}
                {{ topbar-item
                  materialIcon="cloud_upload"
                  clickable=true
                  hover-enabled=true
                  class="state-enabled"
                  click="toggleUploadWindow"
                  stateEnabled=uploadIsVisible
                  content="File Upload"
                }}
                {{#unless uploadData.state}}
                  <span class="state">
                    {{ uploadData.progress }}%
                  </span>
                {{/unless}}
            {{else}}
               {{ topbar-item
                  materialIcon="cloud_upload"
                  clickable=true
                  hover-enabled=true
                  class="state-disabled"
                  click="toggleUploadWindow"
                  stateEnabled=uploadIsVisible
                  content="File Upload"
                }}
            {{/if}}

            <span class="state">{{uploadData.state}}</span>
            {{#if uploadData.progress}}
              <span class="link progress" {{ action uploadData.stopUpload }}>Cancel All</span>
            {{/if}}
            {{ topbar-item
              materialIcon="cloud_download"
              clickable=true
              hover-enabled=true
              hover-darker=false
              click="toggleDownloadWindow"
              stateEnabled=downloadIsVisible
              content="Download"
            }}

            {{ topbar-item
              materialIcon="content_copy"
              clickable=true
              hover-enabled=true
              hover-darker=false
              click="toggleClipboardWindow"
              adjustIcon=true
              stateEnabled=clipboardIsVisible
              content="Copy / paste"
            }}

          </div>
          <div class="right">

          {{#if disconnectBtn}}
            {{#if logoff}}
              {{ topbar-item
                class="go-back"
                fontAwesome="spinner"
                fontAwesomeSpin=true
                content="Disconnect VDI"
              }}
            {{else}}
              {{ topbar-item
                clickable=true
                class="go-back"
                hover-enabled=true
                hover-darker=true
                materialIcon="power_settings_new"
                click="disconnectVDI"
                content="Disconnect VDI"
              }}
            {{/if}}
          {{/if}}

          {{#if homeBtn}}
            {{ topbar-item
              clickable=true
              class="go-back"
              hover-enabled=true
              hover-darker=true
              materialIcon="home"
              click="toggleSingleTab"
              content="Minimize VDI"
            }}
          {{/if}}
          </div>
        </div>
        <div class="canva-fullscreen">

          {{dim-background show=windowIsSelected click=(action 'closeAll')}}

          {{#vdi-upload
            queue=uploadData.queue
            stateVisible=uploadIsVisible
            flushHistory=uploadData.flushHistory
            cancelSingleUpload=uploadData.cancelSingleUpload
            toggleWindow=(action 'toggleUploadWindow')}}
          {{/vdi-upload}}

          {{#vdi-clipboard
            connectionName=connectionName
            stateVisible=clipboardIsVisible
            toggleWindow=(action 'toggleClipboardWindow')}}
          {{/vdi-clipboard}}

          {{#vdi-download
            stateVisible=downloadIsVisible
            toggleWindow=(action 'toggleDownloadWindow')
            }}
          {{/vdi-download}}

          {{#if vdiIsLoading}}
            <div class="vdi-load-background section centered">
              <div>
                <h1>Loading VDI, Please wait</h1>
                <p class='ta-center'>
                {{loading-component}}
                </p>
              </div>
            </div>
          {{/if}}

          {{#if vdiLoadError}}
            <div class="vdi-load-background section centered">
              <div>
                <h1 class='ta-center'>An error has occured.</h1>
                <p class='ta-center'>
                  {{ vdiLoadErrorMessage }}
                </p>
                <p class='ta-center'>
                  <span {{ action "retryConnection" }} class="link">Retry connection</span>
                </p>
              </div>
            </div>
          {{/if}}

          {{yield (hash disconnectVDI=(action 'disconnectVDI')) }}

        </div>
      </div>
    {{/vdi-drag-n-drop }}
  {{/modal-dialog}}
{{/if}}
