{{#if isVisible }}
  {{#modal-dialog containerClassNames="ember-modal-fullscreen"
    attachment="" targetAttachment=""}}

    {{#vdi-drag-n-drop dragAndDropActive=dragAndDropActive as |uploadData|}}  
      <div class="ember-modal-fullscreen">
        <div class="remote-session-topbar">
          <div class="left">
            {{#if uploadData.progress}}
                {{ topbar-item 
                  materialIcon="cloud_upload"
                  clickable=true
                  hover-enabled=true
                  class="upload-state-enabled"
                  click="toggleUploadWindow"
                }}
                {{#unless uploadData.state}}
                  <span class="state">
                    {{vdi-progress-formater uploadData.progress true }}
                  </span>
                {{/unless}}
            {{else}}
               {{ topbar-item 
                  materialIcon="cloud_upload"
                  clickable=true
                  hover-enabled=true
                  class="upload-state-disabled"
                  click="toggleUploadWindow"
                }}
            {{/if}}
            
            <span class="state">{{uploadData.state}}</span>
            {{#if uploadData.progress}}
              <span class="link" {{ action uploadData.stopUpload }}>Cancel All</span>
            {{/if}}
            {{ topbar-item 
              materialIcon="cloud_download"
              clickable=true
              hover-enabled=true
              hover-darker=false
              click="toggleDownloadWindow"
            }}

            {{ topbar-item 
              materialIcon="content_copy"
              clickable=true
              hover-enabled=true
              hover-darker=false
              click="toggleClipboardWindow"
              adjustIcon=true
            }}

          </div>
          <div class="right">
            {{ topbar-item 
              clickable=true
              class="go-back"
              hover-enabled=true
              hover-darker=true
              materialIcon="home"
              click="toggleSingleTab"
            }}
          </div>
        </div>
        <div class="canva-fullscreen">

          {{#vdi-upload
            queue=uploadData.queue
            stateVisible=uploadIsVisible
            flushHistory=uploadData.flushHistory
            cancelSingleUpload=uploadData.cancelSingleUpload
            toggleWindow=(action 'toggleUploadWindow')}}
          {{/vdi-upload}}

          {{#vdi-clipboard
            connectionName=connectionName
            stateVisible=clipboardIsVisible
            toggleWindow=(action 'toggleClipboardWindow')}}
          {{/vdi-clipboard}}

          {{#vdi-download
            stateVisible=downloadIsVisible
            toggleWindow=(action 'toggleDownloadWindow')
            }}
          {{/vdi-download}}

          {{yield}}
        </div>
      </div>
    {{/vdi-drag-n-drop }}  
  {{/modal-dialog}}
{{/if}}
