{{#if isVisible}}
  {{#modal-dialog  containerClassNames="ember-modal-fullscreen"
    attachment="" targetAttachment=""}}

    {{#vdi-drag-n-drop as |box|}}  
      <div class="ember-modal-fullscreen">
        <div class="remote-session-topbar">
          <div class="left">
            {{ topbar-item materialIcon="call_made" }}
            {{#if box.progress}}
              <span class="state">{{box.progress}}%</span>
            {{/if}}
            <span class="state">{{box.state}}</span>
            {{#if box.progress}}
              <span class="link icon_link" {{ action box.stopUpload }}>Cancel</span>
            {{/if}}
          </div>
          <div class="right">
            {{ topbar-item hover-enabled=true materialIcon="home" click="toggleSingleTab" }}
          </div>
        </div>
        <div class="canva-fullscreen">
            {{yield}}
        </div>
      </div>
    {{/vdi-drag-n-drop }}  
  {{/modal-dialog}}
{{/if}}
