<div class='app-item-block'>
  <div class='app-item part1'>
    {{#if application.iconContent}}
      <img class='applications-icon' src="data:image/png;base64, {{ application.iconContent}}">
    {{else}}
      <i class='material-icons'>video_label</i>
    {{/if}}
  </div>
  <div class='app-item part2'>
    {{#edit-text
      textInput=application.displayName
      action="submitEditName" }}
      <span class='link' {{ action "toggleSingleTab" application.alias }}>{{application.displayName}}</span>
    {{/edit-text}}
  </div>
  <div class='app-item part3'>
    <span class='link' {{ action "unpublish" }}>Unpublish</span>
  </div>
</div>
