<div class="section">
  <h4>
    {{#if session.user.isAdmin }}
      {{#link-to 'protected.users'}} Users {{/link-to}} -
    {{/if}}
    {{#edit-text
      class='in-bl'
      type="text"
      confirmation=false
      textInput=model.firstName
      textInputPlaceholder="First name"
      onClose="changeFirstName"
    }}
      {{model.firstName}}
    {{/edit-text}}
    {{#edit-text
      class='in-bl m-l-1'
      type="text"
      confirmation=false
      textInput=model.lastName
      textInputPlaceholder="Last name"
      onClose="changeLastName"
    }}
      {{model.lastName}}
    {{/edit-text}}

    {{#if model.isAdmin}}
      <i class="material-icons va-top">verified_user</i>
    {{/if}}
  </h4>
  <div class='content-wrapper'>
    <table class="table user-table">
      <tbody>
				<tr>
          <th scope="row">Email address</th>
          <td>
            {{#edit-text
              type="email"
              confirmation=false
              textInput=model.email
              textInputPlaceholder="Email"
              onClose="changeEmail"
            }}
              {{model.email}}
            {{/edit-text}}
          </td>
        </tr>
        <tr>
          <th scope="row">Password</th>
          <td>
            {{#edit-text
              type="password"
              confirmation=true
              textInput=model.password
              textInputPlaceholder="Password"
              confirmInput=passwordConfirmation
              confirmInputPlaceholder="Confirmation"
              onClose="changePassword"
            }}
              ******
            {{/edit-text}}
          </td>
        </tr>
        {{#if session.user.isAdmin }}
          <tr>
            <th scope="row">UUID</th>
            <td>{{model.id}}</td>
          </tr>
          <tr>
            <th scope="row">Creation date</th>
            <td>
              {{moment-calendar model.signupDate}}
            </td>
          </tr>
          <tr>
            <th scope="row">Delete Account</th>
            <td>
              {{ remove-user action="removeDone" }}
            </td>
          </tr>
          <tr>
            <th scope="row">Is admin</th>
            <td>
              {{#if isMe }}
                {{input type="checkbox" name="isAdmin" change=(action "updatePrivilege") checked=model.isAdmin disabled="isMe"}}
              {{else}}
                {{input type="checkbox" name="isAdmin" change=(action "updatePrivilege") checked=model.isAdmin}}
              {{/if}}
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
