<div class="section">
  <h4>
    {{#link-to 'protected.users' }}
      Users 
    {{/link-to}} - Create a new user
 </h4>
  <div class="content-wrapper form">
    <form {{action 'add' on='submit'}}>
        {{nano-input placeholder='Firstname' model=model valuePath="firstName" autofocus=true }}
        {{nano-input placeholder='Lastname' model=model valuePath="lastName"}}
        {{nano-input placeholder='Email address' model=model valuePath="email"}}
        {{nano-input placeholder='Password' type="password" model=model valuePath="password"}}
        {{nano-input placeholder='Password confirmation' type="password" value=passwordConfirmation}}

        <button type="submit" class="btn btn-primary btn-block text-uppercase">Create</button>
    </form>
  </div>
</div>
