<div class="section">
  <h4>
    {{#link-to 'protected.machines' }}
      Machines
    {{/link-to}}
   - {{model.name}}
  </h4>
  <div class='content-wrapper'>
    <table class="table">
      <tbody>
        {{#if model.driverDetected}}
        <tr>
          <th scope="row">Command</th>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary" {{action 'startMachine'}} disabled={{model.isUp}}>
              Start
              </button>
              <button type="button" class="btn btn-secondary" {{action 'stopMachine'}} disabled={{model.isDown}}>
              Stop
              </button>
              <button type="button" class="btn btn-secondary" {{action 'terminateMachine'}} disabled={{model.isUp}}>
              Terminate
              </button>
            </div>
          </td>
        </tr>
        {{/if}}
        <tr>
          <th scope="row">Machine state</th>
          <td>{{model.status}}</td>
        </tr>
        <tr>
          <th scope="row">IP</th>
          <td>
            {{#if model.ip}}
              {{model.ip}}
            {{else}}
              No Ip detected
            {{/if}}
          </td>
        </tr>
        <tr>
          <th scope="row">Driver</th>
          <td>
            {{ model.getPlatform }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
