{{ dim-background action="toggleFileExplorer" }}
<div class='file-explorer-wrapper noselect transition-enabled-2'>
  <div class='file-explorer'>
    <div class='section content-wrapper'>
      <h4>{{ file-path data=history.data class="filePath" }}</h4>
        <i {{ action "clickPrevBtn" }} class="navigation-btn material-icons">navigate_before</i>
        <i {{ action "clickNextBtn" }} class="navigation-btn material-icons">navigate_next</i>
        <div class='file-list-wrapper'>
        {{#each items as |item|}}
          <div {{ action "clickItem" item }} class="item {{ if (is-equal selectedFile item) 'selected' }}">
            <i class='va-top material-icons'>{{ item.icon }}</i>
            {{ item.id }} 
          </div>
        {{else}}
          No files.
        {{/each}}
      </div>
    </div>
  </div>
</div>
