<div class="global-container">
  <div class="sidebar bg-faded">
    <div class="sidebar-content">
      <div class="top-nav">
        <div class="sidebar-logo"></div>
        <ul class="nav">
          {{#if session.user.isAdmin}}
            <li>
              {{#link-to 'protected.machines'}}
                <span class="icon">
                  <i class="material-icons">desktop_windows</i>
                </span>
                Machines
              {{/link-to}}

            </li>
          {{/if}}

          <li>
            {{#link-to 'protected.apps'}}
              <span class="icon">
                <i class="material-icons">apps</i>
              </span>
              Applications
            {{/link-to}}
          </li>

          <li>
            {{#link-to 'protected.files'}}
              <span class="icon">
                <i class="material-icons">folder</i>
              </span>
              Files 
            {{/link-to}}
          </li>

          {{#if session.user.isAdmin}}
            <li>
              {{#link-to 'protected.users'}}
                <span class="icon">
                  <i class="material-icons">group</i>
                </span>
                Users
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
      <div class="bottom-nav">
        <ul class="nav">
          <li class="version-number p-a-2">
          {{name}} {{version}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content {{if showSidebar "show-sidebar"}}">
    <nav class="main-navbar navbar navbar-light bg-faded">
      <button {{action "toggleSidebar"}} class="navbar-toggler hidden-lg-up" type="button">
        &#9776;
      </button>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <div class="dropdown logout-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
              {{session.user.firstName}} {{session.user.lastName}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button" {{ action "logout" }}>Logout</button></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    {{outlet}}
  </div>

</div>
