<div class="section p-a-2">
  <h4>Applications</h4>
  <div class='content-wrapper'>
    {{#if session.user.isAdmin}}
      <div class='action-btn-wrapper'>
        <button class="btn btn-primary" {{ action "toggleSingleTab" "hapticDesktop" }}>Desktop</button>
          <button class="btn btn-primary" {{ action "toggleFileExplorer" }}>Publish</button>
      </div>
    {{/if}}
    <table class="table application-table">
      <tbody>
        {{#each applicationList as |application|}}
          {{ app-item 
            application=application
            connectionName=connectionName
            showSingleTab=showSingleTab 
          }}
        {{else}}
          No applications available.
        {{/each}}
      </tbody>
    </table>
    <div class="clearfix"></div>
  </div>
</div>

{{#single-tab 
  togglable=true
  disconnectBtn=true
  homeBtn=(reverse configuration.autoLogoffChecked)
  isVisible=showSingleTab
  onClose="handleVdiClose"
  connectionName=connectionName
}}
  {{remote-session connectionName=connectionName}}
{{/single-tab}}

{{dim-background show=showFileExplorer preventAction=isPublishing action="toggleFileExplorer"}}
{{#file-explorer isVisible=showFileExplorer isPublishing=isPublishing}}
{{/file-explorer}}
