<div class="section p-a-2">
  <h4>Applications</h4>
  <div class='content-wrapper'>
    <div class='drag-drop-wrapper'>
      {{drag-n-drop}}
    </div>
    <div class='action-btn-wrapper'>
      <button class="btn btn-primary" {{ action "toggleSingleTab" "hapticDesktop" }}>Desktop</button>
      {{#if session.user.isAdmin}}
        <button class="btn btn-primary" {{ action "toggleFileExplorer" }}>Publish</button>
      {{/if}}
    </div>
    <table class="table application-table">
      <tbody>
        {{#each applicationList as |application|}}
          {{ app-item 
            application=application
            connectionName=connectionName
            showSingleTab=showSingleTab 
          }}
        {{else}}
          No applications available.
        {{/each}}
      </tbody>
    </table>
    <div class="clearfix"></div>
  </div>
</div>

{{#single-tab isVisible=showSingleTab onClose="disconnectGuacamole" connectionName=connectionName}}
  {{remote-session connectionName=connectionName}}
{{/single-tab}}

{{#file-explorer isVisible=showFileExplorer publishDone="updateModel"}}
{{/file-explorer}}
