{{#if stateVisible}}
  {{ dim-background preventAction=isPublishing toggleWindow=toggleWindow action="toggleVdiWindow" }}
{{/if}}
{{#vdi-window
  title="Clipboard"
  connectionName=connectionName
  windowClass="vdi-clipboard"
  toggleWindow=toggleWindow
  stateVisible=stateVisible}}

  <div class='content-wrapper'>

    <div class='input-wrapper'>
      <div class='icon-wrapper'>
        <i class="color-gray-dark material-icons">cloud</i>
        <div class='text'>Cloud</div>
      </div>
      <div class='textarea'>
        {{textarea disabled=hasFocus value=cloudClipboardContent }}
      </div>
    </div>
  
    <div class='input-wrapper actions'>
      <div {{ action "savePasteToLocal" }} class='icon-wrapper'>
        <i class="clickable color-gray-dark material-icons">arrow_downward</i>
      </div>
      <div {{ action "savePasteToCloud" }} class='icon-wrapper'>
        <i class="clickable color-gray-dark material-icons">arrow_upward</i>
      </div>
    </div>

    <div class='input-wrapper'>
      <div class='icon-wrapper'>
        <i class="color-gray-dark material-icons">desktop_windows</i>
        <div class='text'>Local</div>
      </div>
      <div class='textarea'>
        {{textarea disabled=hasFocus value=localClipboardContent }}
      </div>
    </div>
  </div>

{{/vdi-window}}

